.navbar-brand{
    color: black;
}
.nav-link{
    color: black;
}
table, tr, td{
    border: black 1px solid;
}
th{
    border: black 1px solid;
    background-color: #F7074F; 
}
h1{
    background-color: #FD89AC;
    color: #E75480;
    text-align: center;
    font-size: 10px;
    font-family: fantasy;
}
body{
    background-image: url("../img/Fam.webp");
}
header{
    color:black
}
footer {
    background-color: #F7074F;
    padding: 10px;
    text-align: center;
    color: black;
  }
  @media (max-width: 600px) {
    nav, article {
      width: 100%;
      height: auto;
    }
}
ul{
    list-style-type:armenian;
    padding: 0;
}
.Fams{
    background-color: #AAEA8B;
}
* {
    box-sizing:content-box;
  }
.inters {
    float: left;
    padding: 20px;
    width: 70%;
    background-color: #f1f1f1;
    height: 300px; /* only for demonstration, should be removed */
  }