.navbar-brand{
    color: black;
}
.nav-link{
    color: black;
}
table, tr, td{
    border: black 1px solid;
}
th{
    border: black 1px solid;
    background-color: #F7074F; 
}
h1{
    background-color: #FD89AC;
    color: #E75480;
    text-align: center;
    font-size: 10px;
    font-family: fantasy;
}
body{
    background-image: url("../img/Fam.webp");
}
header{
    color:black
}
footer {
    background-color: #F7074F;
    padding: 10px;
    text-align: center;
    color: black;
  }
  