body {
    background-image: url("../img/DARK4.jpg");
    
    font-family: Garamond, serif;
    font-size: 15px;
    color: maroon;
}
h1 {
    text-decoration: overline;
    border-bottom: double darkred;
    font-size: 16px;
    color: papayawhip;
}
a:hover {  background-color: lightgoldenrodyellow;}
mark{
        background-color: maroon;
        color: white;
      
}
