header{
    background-color: lightpink;
    color: maroon;
    height: 300px;
    text-align: center;
    font-size: 30px;

}
footer {
    background-color: bisque;
    color: brown;
    height: 100px;
    text-align: center;
}
.wrapper{
margin: auto;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
   body { 
            margin: 0 auto; 
            background-position:center; 
            background-size: contain; 
        }
nav ul {
    float: left;
height: 500px; /* only for demonstration, should be removed */
padding: 20px;
background-color: lightskyblue;
width: 300px;
text-align: left;
display: flex;
align-items: stretch;
}
.fmal{float: right;
padding: 20px;
width: 70%;
background-color: white;
height: 500px; /* only for demonstration, should be removed */
}
