.navbar-brand{
    color: black;
}
.nav-link{
    color: black;
}
table, tr, td{
    border: black 1px solid;
}
th{
    border: black 1px solid;
    background-color: #F7074F; 
}
h1{
    background-color: #FD89AC;
    color: #E75480;
    text-align: center;
    font-size: 10px;
    font-family: fantasy;
}
body{
    background: img src="img/Fam.webp" alt="J&B"  width="300" height="400"  ;
}