.navbar-brand{
    color: black;
}
.nav-link{
    color: black;
}
table, tr, td{
    border: black 1px solid;
}
th{
    border: black 1px solid;
    background-color: #F7074F; 
}
h2{
    background-color: #FD89AC;
    color: #E75480;
    height: 300px;
    text-align: center;
    font-size: 30px;
}