body {
    background-image: url("../img/DARK4.jpg");
    font-family: Garamond, serif;
    font-size: 15px;
    color: maroon;
}
h1 {
    border-bottom: double darkred;
    font-size: 16px;
    color: papayawhip;
}
